@page "/Index"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@using EmployeeManagementSystem.Helper;

<div class="container mt-4  index-page">
    <h2>Employee Data</h2>

    @Html.ActionButton(
            Url.Page("/EmployeeFE/ManageEmployee"),
            "Add Employee",
            "btn-primary mb-3"
            )

    <table class="table table-bordered table-striped" id="employeeTable">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var emp in Model.Employees)
            {
                <tr>
                    <td>@emp.FirstName</td>
                    <td>@emp.LastName</td>
                    <td>@emp.Email</td>
                    <td>@emp.PhoneNumber</td>
                    <td>
                        @Html.ActionButton(Url.Page("/EmployeeFE/ManageEmployee", new { id = emp.Id }), "Edit", "btn-warning")
                        @Html.ActionButton(Url.Page("/EmployeeFE/EmployeeDelatis", new { id = emp.Id }), "Details", "btn-info")


                        <form method="post" asp-page-handler="Delete" asp-route-id="@emp.Id" style="display:inline;">
                            <button type="submit" class="btn btn-danger btn-sm delete-button">Delete</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/js/deleteConfirm.js"></script>

}
@section Styles {
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/test.css" />


   
}