@page "/Index"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



<div class="container mt-4  index-page">
    <h2>Employee Data</h2>

    <a class="btn btn-primary mb-3" asp-area="" asp-page="/EmployeeFE/AddEmployee">Add Employee</a>

    <table class="table table-bordered table-striped" id="employeeTable">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var emp in Model.Employees)
            {
                <tr>
                    <td>@emp.FirstName</td>
                    <td>@emp.LastName</td>
                    <td>@emp.Email</td>
                    <td>@emp.PhoneNumber</td>
                    <td>
                        <a asp-page="/EmployeeFE/EditEmployee" asp-route-id="@emp.Id" class="btn btn-warning btn-sm">Edit</a>
                        <a asp-page="/EmployeeFE/EmployeeDelatis" asp-route-id="@emp.Id" class="btn btn-info btn-sm">Details</a>

                        <form method="post" asp-page-handler="Delete" asp-route-id="@emp.Id" style="display:inline;">
                            <button type="submit" class="btn btn-danger btn-sm delete-button">Delete</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/js/deleteConfirm.js"></script>

}
@section Styles {
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/test.css" />


   
}